<div class="col-md-6">
    <h4>Dados Consolidados</h4>
    <hr>
    <label style="font-size: medium;font-weight: bold;">Series Assistidas por Ano</label>
    @if ( consolidados.length > 0 ){
    <table class="table table-striped table-sm">
      <thead>
          <tr style="border-bottom: 1px solid var(--silver);font-size: small;">
          <th>Ano</th>
          <th>Qtd assistida</th>
        </tr>
      </thead>
      <tbody>
        @for (consolidado of consolidados;track consolidado.ano; let i = $index) {
          <tr style="border-bottom: 1px solid var(--silver);font-size: small;">
            <td>{{ consolidado.ano }}</td>
            <td>{{ consolidado.totalSeries }}</td>
          </tr>
      
        }
      </tbody>
    </table>    
    }    
</div>
@if ( consolidados ){
<div>
      <canvas #chart baseChart 
                [data]="dChartData"
                [type]="dChartType"
                (chartClick)="chartClicked($event)">
    </canvas>
</div>
}
    
    
  
  
