<main class="main">
<div>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Series APP</a>
      <label class="navbar-brand w-100"></label>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
  </nav>

  <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a routerLink="/series" routerLinkActive="active" class="nav-link active">
                  <i class="bi bi-house-fill"></i>Home </a>
              </li>
              <li class="nav-item">
                <a routerLink="/add" routerLinkActive="active" class="nav-link active">
                  <i class="bi bi-clipboard-plus-fill"></i>Cadastrar Série Nova </a>
              </li>
              <li class="nav-item">
                <a data-toggle="collapse" href="#collapsedash" class="nav-link active">
                     <i class="bi bi-graph-up"></i>Dashboards</a>
                   <table>
                   <tr id="collapsedash" class="panel-collapse collapse">
                      <td>   
                        <a routerLink="/consolidadoAno" routerLinkActive="active" class="nav-link active">
                          <i class="bi bi-file-earmark-ruled"></i>Total Consolidado </a>
                      </td>
                   </tr>   
                   <tr id="collapsedash" class="panel-collapse collapse">
                    <td>   
                      <a routerLink="/consolidado" routerLinkActive="active" class="nav-link active">
                        <i class="bi bi-file-earmark-ruled"></i>Total Consolidado por Série </a>
                    </td>
                 </tr>  
                  </table>
              </li> 
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <router-outlet></router-outlet>          
        </main>
      </div>
  </div>
</div>
</main>