<main class="main">
<div>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Series APP</a>
      <label class="navbar-brand w-100"></label>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
  </nav>

  <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a routerLink="/series" routerLinkActive="active" class="nav-link active">
                  <i class="bi bi-house-fill"></i>Home </a>
              </li>
              <li class="nav-item">
                <a routerLink="/add" routerLinkActive="active" class="nav-link active">
                  <i class="bi bi-file-earmark-ruled"></i>Cadastrar Série Nova </a>
              </li>
              <li class="nav-item">
                <a routerLink="/consolidado" routerLinkActive="active" class="nav-link active">
                  <i class="bi bi-file-earmark-ruled"></i>Dados Consolidados</a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <router-outlet></router-outlet>          
        </main>
      </div>
  </div>
</div>
</main>